* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
nav{
  max-width: 1600px;
  width: 100%;
  
 
  display: flex;
  justify-content: space-around ;
  align-items: center;
}
.logo{
    margin: 16px;
}



nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
 
}
.btn{
    margin-right: 100px;
    margin: 24px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: green;
    border-radius: 5px;

}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin: 36px;
}

#banner .banner-container .btn-3{
  font-size: 16px;
  border-radius: 100px;
  background-color: white;
  color: green;
  padding: 8px 12px 12px;
  line-height: auto;
  margin-bottom: 16px;
  text-align: center;
}
#banner .banner-container .head-1{
  color: white;
  font-weight: 600;
  
}
#banner .banner-container .head-2{
  color: green;
  margin-bottom: 16px;
  font-weight: 600;
  
}
#banner .banner-container p{
  font-size: 18px;
  color: white;
  margin-bottom: 32px;
}

#banner .banner-container .btn-1{
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: green;
  padding: 16.5px 46px 16px;
  text-align: center;
  border-radius: 5px;

}
#banner .banner-container .btn-2{
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 1px solid white;
 
  border-radius: 5px;
  
 
  padding: 16.5px 16px 16px 46px;
  text-align: center;

}
#banner{
  background: url(../assets/hero-bg.png);
  text-align: center;
  height: 674px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 115.5px 120px 179.5px 120px;
}
#about{
  width: 100%;
  max-width: 1600px;
  
  
}
#about .about-info h4{
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  padding-top: 40px;
  
}
#about .about-info p{
  font-size: 16px;
  margin-bottom: 44px;
  color:#627382;
  text-align: center;
}
#about .card{
  width: 1360px;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px 120px 120px;
  display: flex;
  gap: 24px;
  background-color: white;
  
}
.card .info-card{
  box-shadow:  0 6px 50px 0 #00000071;
  text-align: center;
}
.card .info-card h5{
  padding-bottom: 16px;

}
.card .info-card p{
  padding: 0 24 0 24px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}


 .card .info-card img{
  margin: 69.5px 110px 16px 110px;
  border-radius:50px;
  background: orange;
  
 }
 #solution{
  width: 100%;
  max-width: 1600px;
 }
  #solution .result{
    margin: 120px;
    width: 100%;
    max-width: 1360px;
    display: flex;
  }
  .context{
    padding: 120px 0 120px 60px;
  }
  .context p{
    font-size: 16px;
    font-weight: medium;
    color: green;
    margin-bottom: 16px;

  }
  .context h4{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .context .p1{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #627382;
  }
  .context .motive {
    list-style-type: none;
  

  }
  .context .motive li{
    margin-bottom: 16px;
  }
  #more{
    width: 100%;
    max-width: 1600px;
  }
  #more .more-container{
    width: 100%;
    max-width: 1360px;
    height: 384px;
    margin: 0 120px 120px 120px;
    background-color: #F7F6F2;
    text-align: center;
  }
  .more-container .more-info h5{
    font-size: 40px;
    font-weight: bold;
    padding: 80px 40px 16px 40px;


  }
  .more-container .more-info p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .more-container .more-info button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 16.5px 46px 16.5px 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    background-color: green;
  }
   .more-container .more-info .bottom{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
   }
   #last{
    width: 100%;
    max-width: 1600px;
    background-color: rgb(4, 4, 56);
    height: 384px;
   }
   #last .last-item{
    display: flex;
    align-items: center;
  
    justify-content: space-around;
   }
     #last .last-item p{
      color: white;
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
     }
      .last p{
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: white;
     }
     #last hr{
      width: 20%;
      max-width: 1360px;
      color: #627382;
      align-items: center;
      margin-bottom: 30px;
       width: 50%;
       margin: 20px auto;

      
 

     }
     #last .last-item img{
      margin: 120px 0 84px 120px;
     }
      #last .last-item p{
        margin: 120px 120px 80px 0;
      } 
     
  
  
  
  





  






    
