* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
nav{
  max-width: 1600px;
  width: 100%;
  
 
  display: flex;
  justify-content: space-around ;
  align-items: center;
}
.logo{
    margin: 16px;
}



nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
 
}
.btn{
    margin-right: 100px;
    margin: 24px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: green;
    border-radius: 5px;

}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin: 36px;
}

#banner .banner-container .btn-3{
  font-size: 16px;
  border-radius: 100px;
  background-color: white;
  color: green;
  padding: 8px 12px 12px;
  line-height: auto;
  margin-bottom: 16px;
  text-align: center;
}
#banner .banner-container .head-1{
  color: white;
  font-weight: 600;
  
}
#banner .banner-container .head-2{
  color: green;
  margin-bottom: 16px;
  font-weight: 600;
  
}
#banner .banner-container p{
  font-size: 18px;
  color: white;
  margin-bottom: 32px;
}

#banner .banner-container .btn-1{
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: green;
  padding: 16.5px 46px 16px;
  text-align: center;
  border-radius: 5px;

}
#banner .banner-container .btn-2{
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 1px solid white;
 
  border-radius: 5px;
  
 
  padding: 16.5px 16px 16px 46px;
  text-align: center;

}
#banner{
  background: url(../assets/hero-bg.png);
  text-align: center;
  height: 674px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 115.5px 120px 179.5px 120px;
}
  






    
